# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Armando Paredes ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

In [19]:
import pandas as pd

file_path = 'neoauto_20240924.csv'

neoauto_data = pd.read_csv(file_path)

neoauto_data.head()

,value,item_id,item_price,item_name,item_category,item_category_2,item_brand,item_km,item_year,item_transmission,...,item_location_province,item_tag,item_advertiser,item_credit,item_verified,item_financed_by,santander_price,item_publication_slug,item_publication_type,item_publication_type_Id
0,29200,1807331,29200.0,toyota hilux 2021,autos,Pick Up,TOYOTA,51635.0,2021,Mecánica,...,lima,Como nuevo,Erick Bazán Ubaldo,True,True,Santander,NaN,auto/usado/toyota-hilux-2021-1807331,PREMIUM,25
1,98500,1807393,98500.0,lexus lx 600 2023,autos,Camionetas Suv,LEXUS,15000.0,2023,Automática - Secuencial,...,lima,Como nuevo,Asesor Gabriel NovoCar,False,True,NaN,NaN,auto/usado/lexus-lx-600-2023-1807393,PREMIUM,25
2,16800,1739308,17800.0,bmw 520-i 2016,autos,Sedan,BMW,66000.0,2016,Automática - Secuencial,...,lima,Ocasión,Carlos Chauca,True,True,Santander,16800.0,auto/usado/bmw-520-i-2016-1739308,PREMIUM,25
3,15900,1805714,16900.0,chevrolet captiva 2021,autos,Camionetas Suv,CHEVROLET,40300.0,2021,Automática - Secuencial,...,santa,Premium,Darwin Américo Barrón Pastor,True,True,Santander,15900.0,auto/usado/chevrolet-captiva-2021-1805714,PREMIUM,25
4,12500,1806332,12500.0,dfsk glory 500 2023,autos,Camionetas Suv,DFSK,33000.0,2023,Mecánica,...,lima,Premium,GORDILLO FERNANDO,True,True,Santander,NaN,auto/usado/dfsk-glory-500-2023-1806332,PREMIUM,25

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [20]:
precio_promedio = data.groupby(['item_brand', 'item_category_2'])['item_price'].mean().reset_index()

precio_promedio.columns = ['Marca', 'Subcategoría', 'Precio Promedio']

print(precio_promedio.head())

          Marca    Subcategoría  Precio Promedio
0    ALFA-ROMEO       Hatchback           8500.0
1    ALFA-ROMEO           Sedan           2500.0
2  ASTON MARTIN  Camionetas Suv         229000.0
3  ASTON MARTIN       Deportivo         169990.0
4  ASTON MARTIN           Sedan         149900.0

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [21]:
precio_promedio_general = data['item_price'].mean()

autos_filtrados = data[(data['item_km'] > 100000) & (data['item_price'] < precio_promedio_general)]

cantidad_autos = autos_filtrados.shape[0]

print(f"El número de autos con más de 100,000 kilómetros y precio menor al promedio general es: {cantidad_autos}")

El número de autos con más de 100,000 kilómetros y precio menor al promedio general es: 497

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [38]:
mas_caro = data.loc[data.groupby('item_brand')['item_price'].idxmax()]
mas_barato = data.loc[data.groupby('item_brand')['item_price'].idxmin()]

modelos_extremos = pd.merge(
    mas_caro[['item_brand', 'item_name', 'item_price']],
    mas_barato[['item_brand', 'item_name', 'item_price']],
    on='item_brand',
    suffixes=('_Mas_Caro', '_Mas_Barato')
)

modelos_extremos.columns = ['Marca', 'Modelo_Mas_Caro', 'Precio_Mas_Caro', 'Modelo_Mas_Barato', 'Precio_Mas_Barato']

print(modelos_extremos.head())

          Marca          Modelo_Mas_Caro  Precio_Mas_Caro  \
0    ALFA-ROMEO      alfa-romeo 147 2006           8500.0
1  ASTON MARTIN    aston martin dbx 2021         229000.0
2          AUDI           audi rs 6 2024         220000.0
3        AUSTIN  austin mini cooper 1970              1.0
4          BAIC            baic x55 2021          12800.0

         Modelo_Mas_Barato  Precio_Mas_Barato
0  alfa-romeo alfasud 1982             2500.0
1   aston martin db11 2017           149900.0
2       audi a3 sedan 2015                0.0
3  austin mini cooper 1970                1.0
4           baic plus 2018             7500.0

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [23]:
autos_santander = data[data['item_financed_by'] == 'Santander']

autos_por_marca = autos_santander['item_brand'].value_counts()

top_3_marcas = autos_por_marca.head(3)

print("Las tres marcas con mayor número de autos financiados por Santander son:")
print(top_3_marcas)

Las tres marcas con mayor número de autos financiados por Santander son:
item_brand
BMW       296
TOYOTA    261
NISSAN    228
Name: count, dtype: int64

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [24]:
grouped_transmission = neoauto_data.groupby('item_transmission')

transmission_price_std_detailed = grouped_transmission['item_price'].std()

transmission_price_std_detailed_df = transmission_price_std_detailed.reset_index()
transmission_price_std_detailed_df.rename(columns={'item_price': 'price_std_dev'}, inplace=True)

transmission_price_std_detailed_df

         item_transmission  price_std_dev
0               Automática   15332.729048
1  Automática - Secuencial   22678.641589
2                 Mecánica    8137.122127

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [42]:
km_premium = data[data['item_tag'].str.contains('Premium', na=False)]['item_km'].mean()

km_como_nuevo = data[data['item_tag'].str.contains('Como nuevo', na=False)]['item_km'].mean()

print(f"El kilometraje promedio de las publicaciones con el tag 'Premium' es: {km_premium:.2f}")
print(f"El kilometraje promedio de las publicaciones con el tag 'Como nuevo' es: {km_como_nuevo:.2f}")

El kilometraje promedio de las publicaciones con el tag 'Premium' es: 48400.24
El kilometraje promedio de las publicaciones con el tag 'Como nuevo' es: 35963.48

7. ¿Cuáles son las marcas de vehículas para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [54]:
from datetime import datetime
año_actual = datetime.now().year
vehiculos_recientes = data[data['item_year'] >= (año_actual - 5)]
publicaciones_por_modelo = vehiculos_recientes.groupby(['item_brand', 'item_name']).size().reset_index(name='conteo')
modelos_validos[modelos_validos['item_brand'].isin(marcas_cumplen)]
marcas_validas = modelos_validos.groupby('item_brand')['item_name'].nunique() == modelos_validos.groupby('item_brand')['item_name'].size()
marcas_cumplen = marcas_validas[marcas_validas & (modelos_validos.groupby('item_brand')['item_name'].nunique() >= 3)].index.tolist()
print(f"Marcas que cumplen con el criterio: {marcas_cumplen}")

Marcas que cumplen con el criterio: ['BMW', 'FORD', 'HYUNDAI', 'KIA', 'MAZDA', 'NISSAN', 'TOYOTA', 'VOLKSWAGEN']

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [27]:
# Solución

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [28]:
# Solución

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [29]:
# Solución

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [30]:
# Solución

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [31]:
# Solución

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [32]:
# Solución

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [33]:
# Solución

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [34]:
# Solución

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [35]:
# Solución

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [36]:
# Solución